.App {
  text-align: center;
  
}





.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  display: flex;
  
  gap: 10px;
}
.buttons{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  flex: 1
}
.iframe{
  flex: 7;
  position: relative;
}
.secondPop{
  display: flex;
  flex-direction: column;
}
td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.resultsort{
  
  position: absolute;
  right: 205px;
  top: -60px;
  display: flex;
  
 
}

